*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
header{
	width: 80%;
	height: auto;
	margin: auto;
}
.content{
	background: #14d5ce;
	height: 50px;
	width: auto;
	border-radius: 5px;
	margin: 50px;
	animation: colorcontent 0.5s infinite;
    -webkit-animation: colorcontent 5s infinite;
    -moz-animation: colorcontent 5s infinite;
    -o-animation: colorcontent 0.5s infinite
}
@keyframes colorcontent {
0% {
       background-color: yellowgreen;
       color: white;
}
25%{
       background: #ed03a8;
}
50% {
        background-color: red;
        color: yellow;
}
}
 

.menu > ul{
	display: flex;
	float: left;
	line-height: 50px;
}
.menu > ul > li{
	padding: 0 20px;
	border-right: 1px solid black;
}
.menu > ul > li:hover{
	background: black;
	transition: 0.5s;
}
.menu > ul > li > a{
	 display: block;
     text-transform: uppercase;
     font-size: 20px;
     color: #e6fe1e;
     font-weight: 100;
}
.menu > ul > li > a:hover{
	color: white;
	transition: 0.5s;

}
.login{
	line-height: 50px;
	display: flex;
	padding-left: 350px;

}
.login > ul > li > a > img{
    width: 50px;
    padding-right: 20px;
    margin-top: 5px;
    float: right;

}

.sub_menu{
	position: absolute;
	background: #2ff8e3;
	height: auto;
	width: 200px;
	margin-left: -20px;
	border-radius: 5px;
	display: none;
}
.sub_menu li{
  padding: 0 20px;
}
.sub_menu li:hover{
	background: red;
	transition: 0.5s;
    outline: none;
    border-radius: 5px;
}
.sub_menu li a{
	color: white;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: 10;
	font-size: 15px;
}
.sub_menu li a:hover{
    color: #cbecff	;
    transition: 0.5s;

}
.menu > ul > li:hover .sub_menu{
	display: block;
}